@(user:User)
<html>
<head>
<title>Home</title>
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets//home.css")"/>

    <link rel="javascript" href="@routes.Assets.at("js/vendor/modernizr.js")" />
</head>
<body>
<nav class="top-bar" data-topbar>
                <ul class="title-area">
                   
                  <li class="name">
                    <h1>
                      <a href="#">
                        Bem Vindo @user.nome
                      </a>
                    </h1>
                  </li>
                  <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
                </ul>
             
                <section class="top-bar-section">
                   
                  <ul class="right">
                  <li class="divider"></li>
                  <li><a href="@routes.ProjetoCRUD.lista(session.get("id").toLong)">Meus Projetos</a></li>
                  <li class="divider"></li>
                  <li><a href="/mensagens">Mensagens</a></li>
                  
                    <li class="divider"></li>
                    <li>
                      <a href="/">Sair</a>                      
                    </li>
                  </ul>
                </section>
              </nav>
               
            </div>
          </div><br>
     
         
     
          <div class="row">
     
       
     
            <div class="large-4 small-12 columns">
     
              <img src="http://placehold.it/500x500&text=Logo">
     
              <div class="hide-for-small panel">
                <h3>@user.nome</h3>
                <h5 class="subheader">Java, C++, Python
                </h5>
              </div>
     
              
     
            </div>
     
         
     
     @for(projeto <- user.projetos) {
	        <div class="large-8 columns">
              <div class="row">
     
                <div class="large-4 small-6 columns">
                  <h1>@projeto.descricao</h1>
     
                  <div class="panel">
                    <h5>@projeto.nome</h5>
                  </div>
                </div>
	          }
         	
   
     
          <footer class="row">
            <div class="large-12 columns"><hr/>
              <div class="row"><br>
     
                <div class="large-6 columns">
                  <p>© Copyright todos os direitos reservados. IFCE.</p>
                </div>
     
                
     
              </div>
            </div>
          </footer>
     
         
     
        </div>
      </div>

</body>
</html>
