@(projetos:List[Projeto], user:User)
<html>
<head>
<title>Home</title>
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets//home.css")"/>

    <link rel="javascript" href="@routes.Assets.at("js/vendor/modernizr.js")" />
</head>
<body>
<nav class="top-bar" data-topbar>
                <ul class="title-area">
                   
                  <li class="name">
                    <h1>
                      <a href="#">
                        Bem Vindo @user.nome
                      </a>
                    </h1>
                  </li>
                  <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
                </ul>
             
                <section class="top-bar-section">
                   
                  <ul class="right">
                  <li class="divider"></li>
                  <li><a href="@routes.ProjetoCRUD.lista(session.get("id").toLong)">Meus Projetos</a></li>
                  <li class="divider"></li>
                  <li><a href="/mensagens">Mensagens</a></li>
                  
                    <li class="divider"></li>
                    <li>
                      <a href="/">Sair</a>                      
                    </li>
                  </ul>
                </section>
              </nav>
               
            </div>
          </div><br>
     
         
     
          <div class="row">
            <div class="large-4 small-14 columns">
            <div class="panel">
     
              <img src="http://crgaivota.com.br/imagens/meio/galeria-de-presidentes/usuario-sem-imagem.png">
     
              
                <h3>@user.nome</h3>
            </div>

            </div>
     
     <div class="panel">
     <h3 align="center"> Projetos </h3>
     @for(projeto <- projetos) {
     
	        
              <div class="row">
                <div class="large-4 small-6 columns">
                    <p><b>@projeto.nome</b></p>
                    <p><i>@projeto.descricao</i></p>
                
	          }
         	
   </div>
     
         
     
        </div>
      </div>

</body>
</html>
