@(projetos: List[Projeto])(usuario: String)
<html>

<head>
<title>Projetos</title>
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets//foundation.css")"/>
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.1.3.js")"></script></head>
<body>
<nav class="top-bar" data-topbar>
<section class="top-bar-section">
        <ul class="button-group">
        @if(usuario == session.get("connected")) {
        <li><a href="@routes.ProjetoCRUD.novoProjeto()">Novo Projeto</a>}</li>
        <li><a href="/home">Home</a></li>
        </ul>
        </section>
</nav>
        <hr>
    </section>
       
      </div>
      
     <h3 align="center">Projetos</h3>
     <table class="table table-striped table-bordered" id="example" cellpadding="0" cellspacing="0" border="0" width="100%">
      <tfoot>
        @for(projeto <- projetos) {
          <tr>
              <th><a href="@routes.ProjetoCRUD.detalhar(projeto.id)">@projeto.nome</a></th>
          </tr>
               }
      </tfoot>
     </table>
     </div>
      </div>

</body>
</html>